In [27]:
import pandas as pd

df1 = pd.DataFrame({'First': ['A0', 'A1', 'A2', 'A3'],
                    'Second': ['B0', 'B1', 'B2', 'B3'],
                    'Third': ['C0', 'C1', 'C2', 'C3'],
                    'Fourth': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                   'B': ['B4', 'B5', 'B6', 'B7'],
                   'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

frames = [df1, df2]
result = result = pd.concat([df1, df2], axis=1, join='inner')
result

  First Second Third Fourth   A   B   C   D
0    A0     B0    C0     D0  A4  B4  C4  D4
1    A1     B1    C1     D1  A5  B5  C5  D5
2    A2     B2    C2     D2  A6  B6  C6  D6
3    A3     B3    C3     D3  A7  B7  C7  D7